/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Material+Icons&family=Epilogue&family=Manrope&family=Montserrat:wght@400&family=Roboto&display=swap');

@font-face {
    font-family: "EnriqMedium";
    src: url('fonts/ENRIQMedium.woff') format('woff');
}

@font-face {
    font-family: "EnriqBold";
    src: url('fonts/ENRIQBold.woff') format('woff');
    font-weight: bold;
}

/* Normalize */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* General style */

body {
    background-color: #B4DDC5;
}

p {
    /* font-family: 'ENRIQMedium', sans-serif; */
    font-family: 'Montserrat', sans-serif;
    line-height: 140%;
}

/* Header style */

header {
    position: relative;
    /* background-color: #437A63; */
    background-color: #444;
    display: flex;
    justify-content: space-between;
    padding: 2em 2em 2em 3em;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16);
    z-index: 4;
}

h2 {
    font-family: 'ENRIQMedium', 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 2em;
    color: black;
}

#logo {
    text-decoration: none;
    font-family: "ENRIQMedium", 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 2em;
    color: white;
    letter-spacing: 0.3em;
}

nav a {
    font-family: 'ENRIQMedium', sans-serif;
    /* font-family: 'Roboto', sans-serif; */
    color: white;
    text-decoration: none;
    padding-right: 1em;
}

.reg-menu ul li {
    /* margin-left: 3em; */
    display: inline-block;
    margin-top: 0.5em;
}

.reg-menu ul {
    float:right;
}

#burger,
#burger-menu {
    display:none;
}

/* Content style */

section {
    position: relative;
    color: #333;
    padding: 2em 2em 2em 3em;
}

section h2 {
    color: #333;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    font-size: 2.5em;
}

section p {
    width: 50%;
    margin-bottom: 0.6em;
}

.wrapper {
    max-width: 1100px;
    margin: auto;
}

#book {
    background-color: #D9EDE3;
    box-shadow: 5px 2px 5px 0 rgba(0,0,0,0.16);
    z-index: 3;
    overflow:auto;
}

#book p {
    display: inline-block;
}

section figure {
    max-width: 90%;
    float: right;
    margin-right: 2em;
}

section img {
    box-shadow: 0 2px 3px 0 rgba(0,0,0,0.16);
}

figcaption {
    font-size: 0.8em;
    text-align: right;
}

#buy {
    background-color: #B4DDC5;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,0.16);
    /* margin-bottom: 1em; */
    z-index: 2;
}

#buy ul li {
    display: inline-block;
    list-style: none;
    margin: 2em 1em 2em 0;
}

#buy a {
    color: black;
}

#buy .btn {
    padding: 1.3em 3em;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    color: #333;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    text-decoration: none;
    margin-right: 2em;
}

#buy a:hover {
    background-color: #333;
    box-shadow: 0px 15px 20px #90C4AA;
    color: #fff;
    transform: translateY(-7px);
   }

#buy a:active {
    transform: translateY(-1px);
   }

#quote {
    background-color: #E5F3EA;
    box-shadow: 5px 2px 5px 0 rgba(0,0,0,0.16);
    z-index: 1;
}

#quote blockquote {
    /* font-family:'ENRIQMedium', 'Montserrat', sans-serif; */
    font-family: 'Manrope', sans-serif;
    font-size: 1.5em;
    line-height: 120%;
    margin: auto;
    width: 50%;
    padding: 1em;
}

blockquote p {
    font-family: 'Montserrat', sans-serif;
    /* font-style: italic;
    font-weight: bold; */
    font-size: 0.6em;
    padding-top: 1em;
}

.visually-hidden {
    position: absolute;
    left: -10000px;
    width: 1px;
    height: 1px;
    overflow: hidden;
  }

#author {
    background-color: #B4DDC5;
    overflow:auto;
}

#author p {
    display: inline-block;
}

/* Footer style */

footer {
    /* background-color: #437A63; */
    background-color: #444;
    padding: 2em 2em 2em 3em;
    color: white;
}

footer h2 {
    font-size: 2.5em;
    padding-bottom: 0.7em;
    color: white;
}

.wrap {
    padding-top: 50px;
    -webkit-clip-path: polygon(0 0,100% 20%,100% 100%,0% 100%);
    clip-path: polygon(0 0,100% 20%,100% 100%,0% 100%);
    z-index: 4

}

.social {
    margin-right: 2em;
}

/* Mobile style */

@media (max-width: 950px) {

    section figure {
        float: left;
    }

    header {
        display: flex;
        justify-content: space-between;
    }

    #logo {
        width: 100%;
        float: left;
    }

    .reg-menu {
        display:none;
    }

    #burger {
        display: inline;
        color: white;
        cursor: pointer;
    }

    #burger-menu {
        display: none;
    }

    .expanded {
        display: inline!important;
        color: white;
    }

    nav {
        display: flex;
    }

    nav ul {
        /* padding: 1em 2em; */
        background-color: #AAD4BF;
    }

    nav ul li {
        padding: 1em 2em;
        /* background-color: #AAD4BF; */
    }

    nav a {
        color: black;
        padding: 1em;
    }

    nav li:hover {
        background-color: white;
    }

    nav a::before {
        content: "» "
    }

    blockquote,
    img {
        max-width: 90%;
    }

    section h2 {
        font-size: 2em;
        float: left;
    }

    #buy h2 {
        width: 100%;
    }

    figcaption {
        text-align: right;
        margin-right: 3em;
    }
}

@media (max-width: 768px) {

    .wrap {
        clip-path: none;
        -webkit-clip-path: none;
        padding-top: 2em;
    }

    #logo {
        margin: auto;
        width: 100%;
    }

    section p {
        width: 80%;
    }

    #book {
        display: block;
    }

    #author {
        display: block;
    }


}

@media (max-width: 550px) {

    section p {
        width: 100%;
    }

    #quote blockquote {
        width: 100%;
    }

    #buy ul li {
        display: block;
        align-items: center;
        justify-content: center;
        padding-bottom: 1em;
    }

    #author {
        box-shadow: 0 2px 3px 0 rgba(0,0,0,0.16);
    }

}